.App {
  font-family: "Nunito", sans-serif;
  text-align: center;
  margin: 0 auto;
}

.container {
  max-width: 600px;
  margin-top: 50px;

  font-family: "Nunito", sans-serif;
  color: #707070;
}

.card {
  border-radius: 5px;
  background-color: #f5e1da;
  padding: 20px;
}
